.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-links-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-links {
  display: flex;
  gap: 20px; 
}

.navbar-link {
  color: black;
}

.navbar-brand {
  font-size: 30px;
  color: black;
}